__pycache__/
*.py[cod]
*.pyo
chromedriver.exe
*.idea/
.vscode/
*.swp
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.scrapy
.pdm.toml
__pypackages__/
.venv
.spyderproject
.spyproject
.mypy_cache/
.dmypy.json
dmypy.json
poetry.toml
.ruff_cache/
pyrightconfig.json
